<%- include('header') -%>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>
  <div class="box">
    <% for(var i = 0; i < newItems.length; i++) {%>
    <div class="item">
      <input type="checkbox">
      <p><%= newItems[i] %></p>
    </div>
    <% } %>


    <form action="/" method="post" class="item">
      <input type="text" name="nextItem" placeholder="Add new ToDo Item" autocomplete="off">
      <button type="submit" name="submit" value="<%= listTitle%>">+</button>
    </form>
  </div>
<%- include('footer') -%>
